body{
    background-image: url('https://media.istockphoto.com/photos/design-elements-background-of-letters-being-sucked-up-by-gravity-picture-id1055446200?b=1&k=20&m=1055446200&s=170667a&w=0&h=pDT8ZXZw1bQWr-vp9eMzcdyDQLqE_FZhzOowOoE-_Tg=');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 99.6%;
    margin: 0;
    box-shadow: 6px 6px 6px grey;
}
.note{
    font-size: 15px;
    color: black;
}

#font_size{
    font-size: 15px;
}

.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 2.5;
    text-align: center;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}